$map-unlock-size: 80px !default;
$color-lock-sign: red !default;
$font-default: "Tahoma", sans-serif !default;

.map-container {
	position: relative;

	.map {
		position: initial !important;

		width: 100%;
		height: 100%;
	}

	.lock-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: 5;

		cursor: pointer;
		pointer-events: all;

		display: block;

		background-color: rgba( 0, 0, 0, 0.75 );

		transition: opacity 0.25s ease-in-out,
					left 0.25s ease-in-out,
					top 0.25s ease-in-out,
					right 0.25s ease-in-out,
					bottom 0.25s ease-in-out;

		&:before, &:after {
			position: absolute;
			top: 50%;
			left: 50%;

			font-size: 60px;
			color: $color-lock-sign;

			transform: translate( -50%, -50% );
		}

		&:before {
			@extend .fa, .fa-lock;
		}

		&:after {
			content: "(zum Entsperren klicken)";

			font: {
				family: $font-default;
				size: 12px;
			}

			transform: translate( -50%, 30px );

			transition: opacity 0.25s ease-in-out;
		}

		&:hover {
			&:before {
				@extend .fa-unlock;
			}
		}

		&.unlocked {
			right: 0;
			left: calc( 100% - #{$map-unlock-size} );
			bottom: calc( 100% - #{$map-unlock-size} );

			&:after {
				opacity: 0;
			}
		}
	}
}
