$margin-default: 10px !default;

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;

	width: 100%;
	height: 100%;

	opacity: 0;
	pointer-events: none;

	overflow: auto;

	background-color: #FFFFFF;

	transform-origin: top left;

	transition: opacity 0.25s ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	.close {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 10;

		padding: $margin-default;

		color: #CCC;

		cursor: pointer;

		font-size: 20px;

		&:hover {
			color: #000;
		}
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		overflow: auto;
		overflow-scrolling: touch;
		-webkit-overflow-scrolling: touch;
	}
}
