.tabs
	.tab.active( data-id = 'history' )
		.description
			img( src='./files/imgs/products/history/snow-fir.jpg', alt='schneebedeckter Tannenwald' )
			h3 Woher kommt der Weihnachtsbaum?
			p
				| Die Geschichte des Weihnachtsbaumes ist wohl nicht eindeutig zu belegen. Fakt allerdings ist: Der Brauch, einen Baum zur Weihnachtszeit in die Stuben zu holen stammt aus Deutschland.
	.tab( data-id = 'products' )
		.description
			| Lorem ipsum
	.tab( data-id='growing' )
		.description
			| Lorem ipsum

